body {
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #ffffff; /* Blanco */
  margin: 0;
  padding: 0;
}

header {
  background-color: #002060; /* Azul Imperial */
  color: #ffffff;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  background-color: #002060; /* Azul Imperial */
  margin: 0;
  overflow: hidden;
}

nav ul li {
  float: left;
  width: 25%;
  text-align: center;
}

nav ul li a {
  display: block;
  padding: 14px 16px;
  color: #ffffff;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #DAA520; /* Dorado */
  color: #ffffff;
}

section {
  padding: 20px;
}

section h2 {
  color: #002060; /* Azul Imperial */
  border-bottom: 2px solid #DAA520; /* Dorado */
  padding-bottom: 10px;
}

footer {
  background-color: #002060; /* Azul Imperial */
  color: #ffffff;
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.animate-on-scroll {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s, transform 0.6s;
}

.animate-on-scroll.in-view {
  opacity: 1;
  transform: translateY(0);
}


